.main-edit-profile-component {
  display: flex;
  justify-content: center;
}

.form-header {
  font-weight: bolder;
  font-size: 18px;
}

.form {
  display: flex;
  flex-direction: column;
}

.blue {
  color: #1ecefd;
  font-weight: bolder;
}

.form-input {
  padding: 14px;
  border: 1px solid #505355;
  border-radius: 15px;
  margin: 10px 0px;
}
